:host {
	padding: 8px;
	margin: 12px;
	background: #ecf0f1;
	border: 1px solid #ccc;
	display: block;
}

input, button {
	padding: 0.5rem;
	border-radius: 2px;
	border: 1px solid #666;
	display: block;
	margin-top: 0.3rem;
	min-width: 10rem;
}
input[type="checkbox"] {
	display: inline-block;
	min-width: 1rem;
}
input:focus {
	outline: 0;
	border:  1px solid #09f;
}
label {
	font-size: 0.8rem;
}
button {
	background: #09f;
	color: #fff;
	border: 1px solid #06c;
}
button:hover {
	background: #fff;
	color: #09f;
}
button:focus {
	outline: 0;
}
:host.isLink:hover {
	background: #27ae60;
	color: #fff;
  cursor: pointer;
}
